params {}

manifest {
    name            = 'Puumanamana/nxf-test'
    author          = """Cedric Arisdakessian"""
    homePage        = 'https://github.com/Puumanamana/nextflow-pipelines'
    description     = """Some pipeline"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
}
