// GCP setting
params {
    csv = ""
    workspace = ""
    name = ""
}

docker.enabled = true

google {
    project = "rome-pipeline-engine"
    region = "us-central1"
    batch {
        preemptible = true
        bootDiskSize = 4.GB
        serviceAccountEmail = "nf-main-service-account@rome-pipeline-engine.iam.gserviceaccount.com"
    }
}

process.executor = "google-batch"
